#carousel{
    max-height: 600px;
}
.fullheight{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.fot{
    position: absolute;
    bottom: 0%;
    width: 100%;
}

/* Footer */
.footer div{
    font-size: 1.1rem;
    color: #f7f7f7e2;
    font-weight: 600;
}
